@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<!-- Header Start -->

<div class="container-fluid bg-primary py-2 mb-5 page-header">
    <div class="container py-2">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-6 text-white animated slideInDown">@ViewData["Title"]</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="text-white">Home</a></li>
                        <li class="breadcrumb-item"><a asp-controller="Administration" asp-action="Index" class="text-white">Liste des roles</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>

            </div>
        </div>
    </div>
</div>
<partial name="_Message" />
<!-- Header End -->


<div class="container">
    <form method="post" class="mt-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Id" disabled class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Nom" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Nom" class="form-control">
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Prenom" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Prenom" class="form-control">
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TypeUserId" class="control-label input__label"> Type Utilisateur</label>
            <select asp-for="TypeUserId" asp-items="@ViewBag.TypeUserId as SelectList" class="form-control" required>
                <option value="">Sélectionné </option>

            </select>
            <span asp-validation-for="TypeUserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StructureId" class="control-label input__label"> Structure</label>
            <select asp-for="StructureId" asp-items="@ViewBag.StructureID as SelectList" class="form-control" required>
                <option value="">Sélectionné </option>

            </select>
            <span asp-validation-for="StructureId" class="text-danger"></span>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="ListUsers" class="btn btn-primary">Cancel</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>User Roles</h3>
            </div>
            <div class="card-body">
                @if (Model.Roles.Any())
                {
                    foreach (var role in Model.Roles)
                    {
                        <h5 class="card-title">@role</h5>
                    }
                }
                else
                {
                    <h5 class="card-title">None at the moment</h5>
                }
            </div>
            @*<div class="card-footer">
                    <a href="#" style="width:auto" class="btn btn-primary">
                            Manage Roles
                        </a>
                </div>*@
        </div>

    </form>
</div>

@section scripts{

    <partial name="_ValidationScriptsPartial" />

}
