@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{ ViewBag.Title = "List Roles"; }


@section head{
    <partial name="_datatables.style" />
}

<!-- Header Start -->
<div class="container-fluid bg-primary py-2 mb-5 page-header">
    <div class="container py-2">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-6 text-white animated slideInDown">@ViewData["Title"]</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="text-white">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Header End -->


<partial name="_Message" />
<div class="container">
    <div class="card card_border p-lg-5 p-3 mb-4">

        <div class="card-body py-3 p-0">
            <p class="text-right pr-1">
                <a asp-action="CreateRole" class="btn btn-style btn-primary mr-2"><i class="fa fa-plus-square"></i>&nbsp;Nouveau</a>
            </p>
            <br />
            <table class="table display compact">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@item.Id" class="btn-sm"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
}
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_datatables.script" />

    <script>
        $(function () {
            $("table").DataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Excel',
                        text: 'Export to excel'
                        //Columns to export
                        //exportOptions: {
                        //     columns: [0, 1, 2, 3,4,5,6]
                        // }
                    },

                ]

            });
        });</script>
}







